<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bookedseats.css">
</head>
<body>
<div id="header">Choose the way to look up your ticket.</div>

<form action="/searchByEmail" method="post">
    <input type="submit" value="Look up by email">
</form>

<form action="/searchByName" method="post">
    <input type="submit" value="Look up by name">
</form>

<form action="/searchById" method="post">
    <input type="submit" value="Look up by ID">
</form>

</body>
</html>
